.container {
    margin: 50px auto;
    border-radius: 15px;
    width: 90vw;
    position: relative;
    padding: 10px;
    border: 0.5px solid rgb(171, 171, 171);
}

.title {
    font-weight: bold;
    margin: 10px;
}

.title:focus {
    outline: none;
}

.title, .description, .content {
    background-color: transparent;
    border: none;
    resize: vertical;
    min-height: 50px;
    width: 90%;
} 

.delete_btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
}