.footer {
    position: fixed;
    bottom: -2px;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(245, 235, 222);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer.dark {
    background-color: rgb(60, 60, 60);
}